*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  background: var(--background-base);
  color: var(--text-base);
}

a {
  color: inherit;
}

button,
input,
select {
  font: inherit;
}
