@layer theme, base, components;

@import "./colors.css" layer(theme);
@import "./theme.css" layer(theme);

@import "./base.css" layer(base);

@import "../components/button.css" layer(components);
@import "../components/card.css" layer(components);
